<h4><%= t('.title') %></h4>

<%= render 'form', railway_station: @railway_station %>

<%= link_to t('links.show'), [:admin, @railway_station] %> |
<%= link_to t('links.back'), admin_railway_stations_path %>
