<tr>
  <td><%= route.title %></td>
  <td><%= link_to t('links.show'), admin_route_path(route) %></td>
  <td><%= link_to t('links.edit'), edit_admin_route_path(route) %></td>
  <td><%= link_to t('links.delete'), admin_route_path(route), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
