<h1>Привет, Николай!</h1>

<p>
  <strong>Создано станций: </strong>
  <%= RailwayStation.count %><br />
  <strong>Создано поездов: </strong>
  <%= Train.count %><br />
  <strong>Создано вагонов: </strong>
  <%= Van.count %><br />
  <strong>Создано маршрутов: </strong>
  <%= Route.count %><br />
</p>
