<h4>Доступные поезда:</h4>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Вагонов</th>
    </tr>
  </thead>

  <tbody>
    <%= render @trains %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новый поезд', new_admin_train_path %>
