<p>Привет, <%= @user.name %></p>
<p>Вы купили билет на маршрут <%= @ticket.route_title %></p>
<p>Посмотреть билет Вы можете <%= link_to 'здесь', @ticket %></p>
<p>Все Ваши билеты Вы можете увидеть <%= link_to 'здесь', tickets_url %></p>
