<p>Привет, <%= @user.name %></p>
<p>Вы удалили билет на маршрут <%= @ticket.route_title %>, поезд <%= @ticket.train.number %></p>
<p>Все Ваши билеты Вы можете увидеть <%= link_to 'здесь', tickets_url %></p>
